.navbar {
    padding: 15px 40px;
    background-color: #F5EDED;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 20px #393646;
    color: #2E073F;

    .logo {
      font-size: 24px;
      font-weight: bold;
    }

    .nav-buttons {
      .nav-button {
        background: transparent;
        border: none;
        margin-left: 20px;
        font-weight: 600;
        cursor: pointer;

        &.active {
          background-color: #AD49E1;
          color: #F5EDED;
          padding: 5px 10px;
          border-radius: 6px;
        }
      }
    }
}